/*
 *  Less Framework 2, version 2.0
 *  by Joni Korpi
 *  -----------------------------
 *  http://lessframework.com

/*
 *  Default 5-column, 768 px layout for iPads, netbooks, and IE
 *  (All other layouts inherit styles from this layout)
 *  -----------------------------------------------------------
 *  1      2      3      4      5     
 *  120px  264px  408px  552px  696px   (24px gutters)

body
  text-align: center

#page
  background: rgb(232, 232, 232)
  padding: 60px 36px 0
  width: 696px
  margin: 0 auto
  text-align: left
  overflow: hidden
  +pie-clearfix

  .quarterSquare li,
  .quarterSquare a
    width: 174px
    height: 174px

    img
      height: 174px



/* 
 *  2-column, 320 px layout for smartphones
 *  ---------------------------------------
 *  1      2
 *  120px  264px   (24px gutters)

@media only screen and (max-width: 767px)
  #page
    padding: 48px 28px 0
    width: 264px
    
    .quarterSquare li,
    .quarterSquare a
      width: 66px
      height: 66px
      
      img
        height: 66px

/* 
 *  8-column, 1224 px layout for desktops and laptops
 *  ------------------------------------------------------------------------
 *  1      2      3      4      5      6      7      8
 *  120px  264px  408px  552px  696px  840px  984px  1128px   (24px gutters)

@media only screen and (min-width: 1224px)
  #page
    padding: 72px 48px 0
    width: 1128px

    .quarterSquare li,
    .quarterSquare a
      width: 282px
      height: 282px
      
      img
        height: 282px

/* 
 *  12-column, 1824 px layout for gigantic screens   (24px gutters)
 *  ---------------------------------------------------------------------------------------
 *  1      2      3      4      5      6      7      8       9       10      11      12
 *  120px  264px  408px  552px  696px  840px  984px  1128px  1272px  1416px  1560px  1704px

@media only screen and (min-width: 1824px)
  #page
    padding: 96px 60px 0
    width: 1704px
  
    .quarterSquare li,
    .quarterSquare a
      width: 426px
      height: 426px
        
      img
        height: 426px
  

/* 
 *  Overrides for iPhone 4 and other high device-pixel-ratio devices
 *  ----------------------------------------------------------------

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
@media only screen and (min-device-pixel-ratio: 1.5)
  #example
    background: rgb(255, 158, 97)