---
title: Case Study 02

images4square: 
- url2
- url1
- url3

---

%p
  =loremipsum_text
  
%ul.fourUp
  - @item.children.each do |img|
    %li
      %a{:href => img.path, :title => "check out this image in its actual size" }
        %img{:src => img.path}
        