---
title: Case Study 01
---

%p
  =loremipsum_text
  
%ul.gallery.fourUp
  - @item.children.each do |img|
    %li
      %a{:href => img.path, :title => "click to enlarge"}
        %img{:src => img.path}