- navmenue = @items.find { |i| i.reps[0].path == '/' }
%ul.nav
  %li
    = link_to_unless_current(navmenue[:title], navmenue.reps[0])
    - navmenue.children.each do |page| 
      %li
        = link_to_unless_current(page[:title], page.reps[0])

%h1 
  %span edenspiekermann_
  #{@item[:title]}