-# CSS : implied media="all"
%link{:rel=> 'stylesheet', :type=>'text/css', :href=> '/stylesheets/style.css', :media => 'all'}/
-# For the less-enabled mobile browsers like Opera Mini
  %link{:rel=> 'stylesheet', :type=>'text/css', :href=> '/stylesheets/handheld.css', :media => 'handheld'}/
-# Append your own using content_for :stylesheets
= yield :stylesheets if block_given?
